@model IEnumerable<Gestionale_Hotel.Models.AdditionalServices>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescrAdditionalServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tariff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescrAdditionalServices)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tariff)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAdditionalServices }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAdditionalServices }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdditionalServices })
        </td>
    </tr>
}

</table>
